/.idea/encodings.xml
.idea/
*/bin/
*/obj/
/.vs/Parallel/v16/Server/sqlite3/storage.ide-wal
/.vs/Parallel/v16/Server/sqlite3/storage.ide-shm
/.vs/Parallel/v16/Server/sqlite3/storage.ide
/.vs/Parallel/v16/Server/sqlite3/db.lock
