<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal-nlog.txt">

    <targets async="true">

        <target xsi:type="File"
                name="file"
                fileName=".\logs\nlog-all-${shortdate}.log" 
                autoFlush="true"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${all-event-properties}" />

    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>